.Title{
    color: #DB8249;
    padding-left: 50px;
    padding-top: 44px;
    font-size: 400;
    font-family: Shrikhand;
}

.Subtitle{
    color: #BA4E8B;
    padding-left: 613px;
    padding-top: 20px;
    font-size: 17;
}

