body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navBar {
  background-color: #482B5B;
  width: auto;
  height: 8vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navButton {
  border-radius: 15%;
  width: auto;
  height: 60%;
  margin: 3%;
  padding: 10px; 
}