body {
    background: radial-gradient(circle, #02041D, #633A73);
}

.title_block{
    color: white;
    border-radius: 30px 50px 30px 50px;
    background: radial-gradient(circle, #E68E35, #DD517E);
    padding: 20px;
    margin-top: 40px;
    margin-left: 40%;
    margin-bottom: 60px;
    width: 300px;
    height: 50px;
}

.heading{
    color: white;
    border-radius: 30px 50px 30px 50px;
    background: radial-gradient(circle, #E68E35, #DD517E);
    padding: 10px;
    margin-top: 30px;
    margin-left: 10%;
    width: 100px;
    height: 25px;
}

.middle_block{
    color: white;
}