.chatWindow{
    height: 400px;
    width: 400px;
    background-color: gray;
    overflow: scroll;
}

.container{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 450px;
}

.textToSend{
    border-radius: 15px;
    position: absolute;
    bottom: 20px; 
    left: 27%;
    height: 5%;
    width: 300px;
}

.sendButton{
    position: absolute;
    bottom: 20px; 
    height: 5%;
    width: 5%;
    border-radius: 100%;
    right: 25%
}

.aiEnhance{
    position: absolute;
    bottom: 20px; 
    border-radius: 15px;
    height: 40px;
    right: 0%
}